.hero {
  margin: 150px 0 300px;
  scroll-margin-top: 300px;
}

.hero-section h1 {
  font-family: var(--primary-font-family);
  font-size: 76px;
  font-weight: 700;
  color: var(--secundary-text-color);
  margin-bottom: 24px;
}

.hero-section h1 span {
  white-space: nowrap;
}

.hero-section h1 span::after {
  display: inline-block;
  content: "";
  margin-left: 5px;
  width: 25px;
  height: 1em;
  vertical-align: -0.08em;
  background-color: var(--auxiliar-color);
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }

  50.01%,
  100% {
    opacity: 0;
  }
}

#hero-subtittle {
  font-family: var(--secundary-font-family);
  font-size: 18px;
  color: var(--primary-text-color);
  margin-bottom: 33px;
}

#hero-description {
  font-family: var(--secundary-font-family);
  font-size: 16px;
  color: var(--primary-text-color);
  margin-bottom: 40px;
}

#hero-subtittle span {
  color: var(--auxiliar-color);
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.hero-buttons button {
  height: 47px;
  width: 152px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
}

#talk-to-me-button {
  border:
    2px,
    solid var(--border-color);
  background-color: var(--background-primary-color);
  font-family: var(--primary-font-family);
  color: var(--secundary-text-color);
}

#projects-button {
  border: none;
  background-color: var(--auxiliar-color);
  font-family: var(--secundary-font-family);
  color: var(--background-primary-color);
  font-weight: 600;
}

#projects-button:hover {
  background-color: #b6c6d3;
  border: 1px solid var(--auxiliar-color);
}

@media screen and (max-width: 768px) {
  .hero {
    margin: 80px 0;
  }

  .hero-section h1 {
    font-size: 60px;
  }

  .hero-section h1 span::after {
    width: 20px;
  }

  .subtittle {
    font-size: 16px;
  }

  .description {
    font-size: 15px;
  }

  .hero-buttons button {
    font-size: 15px;
    height: 44px;
    width: 140px;
  }
}

@media screen and (max-width: 420px) {
  .hero-section h1 {
    font-size: 40px;
  }

  .hero-section h1 span::after {
    width: 15px;
  }

  .subtittle {
    font-size: 15px;
  }

  .description {
    font-size: 14px;
  }

  .hero-buttons button {
    height: 42px;
    width: 130px;
    font-size: 14px;
  }
}
